*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex: 0 0 399px; /* Использую по причине того, что есть событие страницы 'Нет подходящих видео' и нужна соответствующая ширина правой колонки */
  gap: 21px; /* Отошел от отступов с фигмы, по причине различий в нижних отступах шрифта у 'по-смотри в окно', в пользу бОльшего соответствия пп */
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: calc(100% - 30px);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px; /* max-height не использую по причине того, что есть событие страницы 'Нет подходящих видео' и нужен отступ снизу */
  overflow: auto;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__list-item:last-child {
  margin-block-end: 0;
}

.result__video-container {
  position: relative;
  width: 100%;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  margin: 1px;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  display: block;
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  max-width: 200px;
  overflow: hidden;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border: 1px solid;
  border-top-color: #fff;
  border-right-color: transparent; /* Сделал, чтобы инпут по ширине не прыгал в момент :active */
  border-bottom-color: #fff;
  border-left-color: transparent; /* Сделал, чтобы инпут по ширине не прыгал в момент :active */
  padding: 2.5px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 7px 72.5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.search-form__submit-button {
  margin-block-start: auto;
  margin-block-end: 0;
}

.more-button {
  width: 100%;
}

/* Состояния :hover */

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:hover {
  cursor: text;
}

.button:hover {
  text-decoration: underline;
}

/* Состояния :active */

.content__card-link:active {
  background-color: #545050;
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.button:active {
  text-decoration: none; /* Не убрал, потому что подчеркивается, когда нажимаю на кнопку, курсор наведен на кнопку, и срабатывает подчеркивание, если через консоль разработчика проверять (:active без :hover), то да, не подчеркивается */
  background: #545050;
}

/* Состояния :focus */

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}